body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;

}

.logo {
  font-family: 'Montserrat Alternates', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 40px 0;
}

.header_top-menu {
  background-color: #efefef;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header_top-link {
  color: grey;
}

.header_top-link:hover{
  color: orangered;
  transition: 0.3s;
}

.nav_link:hover {
  color: orangered;
  transition: 0.3s;
}

.nav_row {
  align-items: center;
}

.card_title_price {
  color: #1c7430;
}

.btn-outline-success.btn.btn-block,
.btn-success.btn.btn-block{
  border-radius: 0;
}

.footer {
  background-color: #efefef;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer a {
  color: grey;
}

.form-control {
  margin-top: 10px;
  margin-bottom: 10px;
}

.auth_form {
  min-height: 500px;
}

.admin-panel {
  min-height: 500px;
}

.comment .container{
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
}

.theme_cooment {
  font-size: 20px;
  color: royalblue;
}

.small {
  color: grey;
}

.comment_block {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.stars {
  color: #ffa800;
}

.comment a {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.good_comment:hover,
.bad_comment:hover {
  color: orangered;
  opacity: 0.8;
}

